body {
    background-color: rgb(223, 223, 201);
}

h4 {
    background-color: rgb(175, 155, 72);

}

.title {
    font-size: 25px;
    color: rgb(60, 30, 30);
}

.logo{
    width: 500px
}



#principal {
    font-size: 60px;
}
